.float_lists {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:  rgb(196, 196, 196);
}

li {
    padding: 0em 1em 0em 1em;
}

.float_li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    align-items: center;
}